<% if !user_signed_in? %>
 <div class="jumbotron">
   <h1>Your favourite Movies Reviewed</h1>
  <p>which is convenient for projects with existing style rules. In our case, we used
SCSS from the start in order to take advantage of Bootstrap</p>   
<p><%= link_to "Signup up to write a Review",new_user_registration_path, class: "btn btn-primary btn-lg" %></p>
 </div>
 <% end %>
 <br><br><br>

<div class="row">
  <% @movies.each do |movie| %>
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">

    <%= link_to (image_tag movie.picture.url), movie %>
     <%= movie.title %>
    <%= truncate(movie.description, length: 50, separator: ''){ link_to 'Read More', movie_path(movie) } %>
    </div>
  </div>
  <% end %>
</div>